---
import { Image } from 'astro:assets';
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import logo from '../images/logo.svg'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="drawer drawer-end">
  <slot />
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col ">
    <div class="navbar bg-base-300 w-full mb-6">
      <div class="mx-2 flex-1 px-2">
        <Image class="mx-2" src={logo} loading="eagerly" alt="Dtek Logo" />
        <div class="text-large flex flex-col">
          <span>{t('nav.name')}</span>
          <span>{t('nav.union')}</span>
        </div>
      </div>
      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal">
          <li>
            <details>
              <summary>{t('nav.school')}</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a aria-label={t('nav.dns')} href="https://dns.dtek.se/">{t('nav.dns')}</a></li>
                <li><a aria-label={t('nav.schedule')} href="https://cloud.timeedit.net/chalmers/web/public/">{t('nav.schedule')}</a></li>
                <li><a aria-label={t('nav.rooms')} href="https://cloud.timeedit.net/chalmers/web/b1/">{t('nav.rooms')}</a></li>
                <li><a aria-label={t('nav.card')} href="https://kortladdning3.chalmerskonferens.se/">{t('nav.card')}</a></li>
                <li><a aria-label={t('nav.map')} href="https://maps.chalmers.se/#6967eb7c-ff54-4dd7-af00-9e19fcaba128">{t('nav.map')}</a></li>
                <li><a aria-label={t('nav.study')} href="https://dtek.se/studiesocial-hjalp">{t('nav.study')}</a></li>
              </ul>
            </details>
          </li>
          <li><a aria-label={t('nav.companies')} href="https://datateknologer.se/">{t('nav.companies')}</a></li>
          <li><a aria-label={t('nav.photo')} href="https://dfoto.se/">{t('nav.photo')}</a></li>
          <li><a aria-label={t('nav.reception')} href="https://dnollk.se/">{t('nav.reception')}</a></li>
          <li><a aria-label={t('nav.wiki')} href="https://wiki.dtek.se/">{t('nav.wiki')}</a></li>
          <li><a aria-label={t('nav.dbus')} href="https://dbus.dtek.se/">{t('nav.dbus')}</a></li>
          <li><a aria-label={t('nav.documents')} href={`/${lang}/documents/`}>{t('nav.documents')}</a></li>
          <li><a aria-label={t('nav.newsletter')} href={`/${lang}/newsletter/`}>{t('nav.newsletter')}</a></li>
          <li>
          {Object.entries(languages).filter(o => !o.includes(lang)).map(([lang, label]) => (
                <a href={`/${lang}/`}>{label}</a>
            ))}
          </li>
        </ul>
      </div>
      <div class="menu menu-horizontal lg:hidden">
      {Object.entries(languages).filter(o => !o.includes(lang)).map(([lang, label]) => (
            <a href={`/${lang}/`}>{label}</a>
        ))}
      </div>
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <li><a aria-label={t('nav.dns')} href="https://dns.dtek.se/">{t('nav.dns')}</a></li>
      <li><a aria-label={t('nav.schedule')} href="https://cloud.timeedit.net/chalmers/web/public/">{t('nav.schedule')}</a></li>
      <li><a aria-label={t('nav.rooms')} href="https://cloud.timeedit.net/chalmers/web/b1/">{t('nav.rooms')}</a></li>
      <li><a aria-label={t('nav.card')} href="https://kortladdning3.chalmerskonferens.se/">{t('nav.card')}</a></li>
      <li><a aria-label={t('nav.map')} href="https://maps.chalmers.se/#6967eb7c-ff54-4dd7-af00-9e19fcaba128">{t('nav.map')}</a></li>
      <li><a aria-label={t('nav.study')} href="https://dtek.se/studiesocial-hjalp">{t('nav.study')}</a></li>
      <li><a aria-label={t('nav.companies')} href="https://datateknologer.se/">{t('nav.companies')}</a></li>
      <li><a aria-label={t('nav.photo')} href="https://dfoto.se/">{t('nav.photo')}</a></li>
      <li><a aria-label={t('nav.reception')} href="https://dnollk.se/">{t('nav.reception')}</a></li>
      <li><a aria-label={t('nav.wiki')} href="https://wiki.dtek.se/">{t('nav.wiki')}</a></li>
      <li><a aria-label={t('nav.dbus')} href="https://dbus.dtek.se/">{t('nav.dbus')}</a></li>
      <li><a aria-label={t('nav.documents')} href={`/${lang}/documents/`}>{t('nav.documents')}</a></li>
      <li><a aria-label={t('nav.newsletter')} href={`/${lang}/newsletter/`}>{t('nav.newsletter')}</a></li>
    </ul>
  </div>
</div>
